@import 'next-cloudinary/dist/cld-video-player.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme(colors.border);
  }

  *::selection {
    background-color: theme(colors.muted.foreground);
    color: theme(colors.background);
  }

  body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
  }
}

@layer base {
  /* Firefox */
  * {
    scrollbar-color: theme(colors.secondary.foreground)
      theme(colors.secondary.DEFAULT);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: theme(width[1.5]);
  }

  *::-webkit-scrollbar-track {
    background-color: theme(colors.secondary.DEFAULT);
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme(colors.secondary.foreground);
    border-radius: theme(borderRadius.full);

    &:hover {
      background-color: theme(colors.secondary.DEFAULT);
    }
  }
}

:root {
  --color-dark: #1c1d20;
  --color-dark-dark: #141517;
  --color-light: #ffffff;
  --color-blue: #455ce9;
  --color-blue-dark: #334bd3;
  --color-gray: #999d9e;
  --color-lightgray: #e9eaeb;
  --color-white: #ffffff;
  --color-border: rgba(28, 29, 32, 0.175);
  --color-border-solid: #d2d2d2;
  --color-border-light: rgba(255, 255, 255, 0.2);
  --color-border-solid-light: #545557;
  --color-text: #1c1d20;
  --color-text-light: #fff;
  --alert-error: #ff4444;
  --alert-success: #24c958;
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
  --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
}
