.profilePicture {
  position: relative;
  display: inline-flex;
  border-radius: 50%;
  background: url(../../../icons/DSC07033-Cut-Color-1080.jpg) center center
    no-repeat;
  background-size: cover;
  width: clamp(4.5em, 6.5vw, 8em);
  height: clamp(4.5em, 6.5vw, 8em);

  @media screen and (max-width: 720px) {
    width: 3rem;
    height: 3rem;
  }
}
