.body {
  padding-top: 4rem;

  &:nth-child(1) {
    width: 73%;
    padding-right: calc(var(--container-padding) / 2);
  }

  &:nth-child(2) {
    // width: 27%;
    padding-left: calc(var(--container-padding) / 2);
  }
}
// .form {
//   width: 73%;
//   padding-right: calc(var(--container-padding) / 2);
// }
